<!DOCTYPE html>


{% set navs = [
    { title: 'Home', url: 'index.html', state: 'home' },
	{ title: 'Services', url: 'services.html', state: 'services' },
    { title: 'About', url: 'about-us.html', state: 'about-us' },
    { title: 'Contact', url: 'contact-us.html', state: 'contact-us' }
] %}

{% if page == 'contact-us' %}
	<%
	PageTitle = "MSE Web Form"
	FormProcess = Request.ServerVariables("SCRIPT_NAME")
	homeURL="/"

	subject=Request("subject")

	strUA = Request.ServerVariables("HTTP_USER_AGENT")
	If InStr(strUA, "MSIE") Then  'it's a Microsoft Browser
	  intVersion = CInt(Mid(strUA, InStr(strUA, "MSIE") + 5, 1))
	  If intVersion > 3 Then
		 isNewIE=True
		 textCols=100
	  Else
		 isNewIE=False	'Is old IE
		 textCols=75
	  End If
	Else
	  isNewIE=False	'Is Non-IE
	  textCols=75
	End If
	%>
{% endif %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Martinsen Software and Electronics Website">
    <meta name="author" content="Joseph Martinsen">

    <title>
    {% if title %}
    {{ title }} | MSE
    {% else %}
    MSE
    {% endif %}
    </title>

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <div id="header">
            {% include 'partials/nav.html' %}
    </div>
    <!-- Page Content -->
    <div id="content">
            {% block content %}
            {% endblock %}
		</div>
    <div id="footer">
            {% include 'partials/footer.html' %}
		</div>
  </div>

  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/functions.js"></script>

  {% block js %}
  {% endblock %}
</body>

</html>
